


<div id="map">
	<map zoom="4" center="-25.363882, 131.044922" on-click="placeMarker()"></map>
</div>

<div class="container">
	<div class="center-block">
  	<h1>Help Someone in Need</h1>
			<div class="form-group">
				<form ng-submit="ctrl.newReport()">
					<input type="text" class="form-control"
						ng-model="ctrl.location" placeholder="Location"><br/>
					<textarea ng-model="ctrl.usernotes" class="form-control"
						placeholder="notes..."></textarea><br/>
					<input type="submit" value="Help Out">
				</form>
			</div>
		</div>
</div>
