<div class="container">
  <div class="center-block">
    <div class="jumbotron">
      <p><map zoom="14" center="{{ctrl.currentPost.latitude}}, {{ctrl.currentPost.longitude}}" on-click="placeMarker()"></map></p>
      <p>{{ctrl.currentPost.usernotes}}</p>
      <p>{{ctrl.currentPost.comments}}</p>
        <p>
          <a class="btn btn-primary btn-lg" href="#" role="button" ng-click="editReport()">
            Edit
          </a>
          <a class="btn btn-primary btn-lg" href="#" role="button" ng-click="deleteReport()">
            Delete
          </a>
        </p>
    </div>
  </div>
</div>
