* {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

body {
  padding-top: 67px;
}

header {
  background: #104048;
  height: 67px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 1001;
}

.nav-up {
  top: -67px;
}

.navbar {
  border-radius: 0 !important;
  background-color: #104048;
}

map {
  height: 600px;
  width: 100%;
  z-index: -1;
}

html {
  font-size: 12px;
  font-family: "Helvetica", sans-serif;
}

.bg-img {
  height: 100%;
  background: url('../images/login_bg.jpg') no-repeat center center;
  background-size: cover;
}

form {
  width: 80%;
  margin: 0 auto;
}

.form-control {
  border: 1px solid #f1f1f1;
}

.input-lg, .panel-body, .panel-heading, .panel-default, .form-control {
  border-radius: 0px !important;
}

.panel > .panel-heading {
  background-image: none;
  background-color: white;
  color: #666;
}

.center-block {
  width: 50%;
  margin: 0 auto;
}

hr.fade {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

a {
  color: orange;
  opacity: .8;
  text-decoration: none;
}

a:hover{
  color: orange;
  opacity: .5;
}

.col-md-4 {
  padding-top: 20px;
}

.col-md-4 img {
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.list-group-item {
  width: 50%;
  margin: 0 auto;
}

.jumbotron {
  padding: 10px 20px 10px 20px;
  border-radius: 0 !important;
  background-color: #fff;
  text-align: center;
}

textarea {
  resize: vertical;
}

h3 {
  text-align: center !important;
}

.btn {
  padding: 10px 20px;
  font-weight: 300;
  text-transform: none;
  display: inline-block;
  text-align: center;
  width: 100%;
  border-radius: 0;
  border: 1px solid #f1f1f1;
}

.btn-group {
  display: inline-flex;
}

.btn-primary:hover {
  background-color: white;
  color: #666;
  border: 0;
}

.btn-primary.active, .btn-primary.active:hover{
  background-color: orange;
  color: #666;
  border: 0;
}

.btn-default {
  color: orange;
}

.btn-default:hover {
  color: orange;
  background-color: white;
  border-color: #f1f1f1;
}

.btn-primary {
  background-color: white;
  color: #666;
}

.modal-content {
  padding: 5px 20px 20px 20px;
}

.page-header {
  border-bottom: none !important;
  margin-top: 20px !important;
}

.btn-default {
  color: orange !important;
}

.navbar-collapse {
  max-height: 340px;
}

.collapse.in {
  padding-bottom: 10px;
}

/*.navbar-toggle, .icon-bar {
  border-color: white;
  background-color: white;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}*/

.collapse {
  display: none;
}

.navbar-brand {
  vertical-align: middle;
  height: 100%;
}

.panel-collapse {
  text-align: center;
}

/*media queries*/

@media (max-width: 980px) {
  body {
    padding-top: 50px;
  }

  map {
    height: 200px;
  }
}
